# dependencies
node_modules/
pnpm-lock.yaml

# build output
dist/
.next/
out/

# env files (ignore)
*.env
*.env.*
.env
apps/*/.env
apps/*/*.env

# BUT keep env example templates tracked
!*.env.example
!apps/*/*.env.example