:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appWrapper {
  min-height: 100vh;
  width: 100%;
}